html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* header */

nav {
  display: flex;
  justify-content: space-between;
}

/* content */

#content {
  padding: 5rem;
}

/* hero section */

.hero-section {
  width: 66ch;
  margin: 0 auto;
  text-align: center;
  height: 20rem;
}

.hero-section .title {
  font-size: 2.5rem;
}

.hero-section .description {
  font-size: 1.5rem;
}

.hero-section .search {
  height: 2.5rem;
  margin: 0 auto;

  display: flex;

  border: thin solid black;
}

.search .icon {
  width: 2.5rem;
  height: 100%;
}

.search input {
  flex: 1;
  border: none;
}

/* menu */

.menu {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.menu .image {
  height: 12rem;
}

.menu .card {
  padding: 1rem;
  border: thin solid black;
}
.menu .card > * {
  margin: 0;
}
.menu .card > .image {
  margin-bottom: 1rem;
}

/* about */

.about {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.about > * {
  padding: 2rem;
  border-radius: 1rem;
  text-align: justify;
}

.about .image {
  box-shadow: 0 0 0.5rem gray;
}

.about .short-summary {
  font-size: 1.5rem;
  color: white;
  background-color: lightcoral;
}

.about .long-summary {
  background-color: rgb(141, 214, 163);
}

.about .links {
  align-self: start;
  background-color: rgb(247, 237, 155);
}
.about ul {
  padding: 0;
  list-style: none;

  display: flex;
  gap: 1rem;
  justify-content: space-around;
}
.about a {
  color: black;
}